body {
    font-family: Arial, sans-serif;
    background-image: url('обои.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

nav li {
    display: inline;
    margin: 10px;
}

.nav-btn {
    display: inline-block;
    padding: 20px 40px; /* Увеличенные размеры кнопок */
    font-size: 24px; /* Увеличенный размер шрифта */
    border: none;
    background-color: #28a745;
    color: #fff;
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-btn:hover {
    background-color: #218838;
}

.menu-item, .contact-info, .cart-info {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px;
    border-radius: 10px;
}

.menu-item img, .promo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.menu-category {
    margin: 20px 0;
}
